---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Sobre mi";
const happy = true;
const finished = true;
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---
<BaseLayout pageTitle = {pageTitle}>
  <p> Soy desarrollador web backend y estoy aprendiendo frontend, en esta ocasion estoy creando un portafolio para presentar mis proyectos, es primera vez que uso astro como framework de frontend</p>
  <p> Este sitio es un sitio de pruebas lanzado en netlify hecho por Julio Vinces.</p>
  <ul>
      {identity.hobbies.map((hobbie) => <li>{hobbie}</li>)}
  </ul>

  <p>Mis habilidades son:</p>
  <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <script>
    import "../scripts/menu.js";
  </script>
</BaseLayout>
